body {
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.5;
}
h1 {
  font-size: 2.5rem;
}
a {
  color: steelblue;
}
.intro {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
}
.section-title {
  background: rgb(89, 89, 236);
  color: white;
  padding: 20px;
  border-radius: 10px;
}
