* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  width: 90%;
  max-width: 1400px;
  margin: 40px auto;
  padding: 0 20px;
  line-height: 1.5;
}
h1 {
  font-size: 2.5rem;
}
a {
  color: steelblue;
}
.intro {
  background: #eee;
  padding: 20px;
  border-radius: 10px;
}
.section-title {
  background: rgb(89, 89, 236);
  color: white;
  padding: 20px;
  border-radius: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}
li {
  background: #f8f9fa;
  margin-bottom: 10px;
  padding: 15px 20px;
  border-left: 5px solid rgb(89, 89, 236);
  border-radius: 4px;
}
footer {
  margin-top: 40px;
  font-size: 0.9rem;
  color: #666;
}